<%= image_tag @restaurant.image.url(:medium) %> 




<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.location %>, <%= @restaurant.postcode %></p>
<p><%= @restaurant.description %></p>

<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= "#{review.thoughts}" %> 
      <%= star_rating(review.rating) %>
    </li>
    <span class="italicise">posted: <%= time_ago_in_words(review.created_at) %> ago</span>
  <% end %>
</ul>

<%= link_to "Go back", restaurants_path %>