<%= image_tag @restaurant.image.url(:medium) %> 

<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.description %></p>

<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= "#{review.thoughts}" %> 
      <%= star_rating(review.rating) %>
    </li>
    <span class="italicise">posted: <%= time_ago_in_words(review.created_at) %> ago</span>
  <% end %>
</ul>

<h3>Location</h3>
<p><%= @restaurant.location %>, <%= @restaurant.postcode %></p>

<% if @restaurant.lat && @restaurant.long %>
	<div id="map"></div>
	<div class='lat' style='display:none'><%= @restaurant.lat %></div>
	<div class='lng' style='display:none'><%= @restaurant.long %></div>
<% end %>

<div><%= link_to "Go back", restaurants_path %></div>